/* Ana's CSS */
@font-face {
    font-family: "Star Jedi";
    font-style: normal;
    font-weight: 400;
    src: url("./StarJedi.woff");
  }

 

.btn-container {
  display: flex;
  justify-content: center;
}

.card 
{
    font-family: "Star Jedi";
}

.form {
  display: flex;
  justify-content: center;
}

.form-group {
  width: 90%;
  margin-left: 5%;
}

button {
  margin: 2rem 40%;
}
