/* Ana's CSS */
.btn-container {
  display: flex;
  justify-content: center;
}

.btn
.form {
  display: flex;
  justify-content: center;
}

.form-group {
  width: 90%;
  margin-left: 5%;
}

button {
  margin: 2rem 40%;
}
