@font-face {
  font-family: "Star Jedi";
  font-style: normal;
  font-weight: 400;
  src: url("./StarJedi.woff");
}

/* Ana's CSS */
.btn-container {
  display: flex;
  justify-content: center;
}

.btn .form {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.form span {
  color: pink;
}

.form-group {
  width: 90%;
  margin-left: 5%;
}

button {
  margin: 2rem 40%;
}

.headerTitle {
  display: flex;
  justify-content: center;
  background-color: black;
}

.fa-heart {
  color: pink;
}

h5 {
  font-family: "Star Jedi";
}
